body {
    font-family: 'Inter', sans-serif;
}

.logo {
    width: 135px;
    height: auto; 
}

@media (max-width: 767px) {
    #filters {
        display: none; 
    }
    #burger-menu {
        display: flex; 
    }
}

@media (min-width: 768px) {
    #filters {
        display: block !important; 
    }
    #burger-menu {
        display: none;
    }
}